
h2{
    color: rgba(135, 217, 81, 0.584);
    font-family: 1rem 'Unbounded', cursive;
    font-style: normal;
    font-size: 12px
}
.title{
    color: rgba(255, 255, 255, 0.589);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: xx-large;
}
body {
    color: rgba(255, 255, 255, 0.529);
    font-family: 'Roboto', sans-serif;
    background-image: url("../image/background-img.png");
    display: block; 
    margin: 0 auto; 
    padding: 0px;
}
.tenor-gif-embed{
    margin: 0 auto; 
    background-attachment: local;
}
.wrapper{
    display: flex;
    padding: 1rem;
}
canvas{ 
    background: #0e0100; 
    display: block; 
    margin: 0 auto;
    min-width: 50%;
    min-height: 100%;
} 
div {
    text-align: center;
}
